.add-entry {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.add-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px 20px;
}
.add-entry .input-name,
.react-datepicker__input-container input {
  outline: none;
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
}

.react-datepicker__input-container input {
  padding: 12px;
  background: #f2f4f5;
  border-radius: 3px;
}

.react-datepicker__input-container input::placeholder {
  color: #babebf;
}

.add-entry .input-name {
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.react-datepicker__input-container input {
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

.add-entry .input-name::placeholder {
  font-weight: 400;
  font-style: italic;
  font-size: 13px;
  color: #999999;
  letter-spacing: 0;
}

.add-entry input:focus {
  border-color: #0099ff;
}

.add-entry .form-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.add-entry button {
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
  flex: auto;
  outline: none;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 10px 0;
  cursor: pointer;
}
.add-entry .btn-cancel {
  border-right: 0;
}
.add-entry .btn-submit {
  font-weight: 500;
  color: #000;
}

.btn-cancel:disabled,
.btn-submit:disabled {
  cursor: not-allowed;
  color: #999;
}

.untilCal {
  border: none;
  border-radius: 0;
  box-shadow: 0;
  border: 1px solid #e6e6e6;
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
}

.untilCal .react-datepicker__triangle {
  border-bottom: none;
  border-top: none;
  display: none;
}

.untilCal .react-datepicker__header {
  text-align: center;
  background-color: #fff;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 8px;
  position: relative;
}

.untilCal .react-datepicker__day--selected,
.untilCal .react-datepicker__day--in-selecting-range,
.untilCal .react-datepicker__day--in-range {
  border-radius: 0;
  background-color: #333;
  color: #fff;
}

.untilCal .react-datepicker__day--keyboard-selected {
  border-radius: 0;
  background-color: #333;
  color: #fff;
}

.untilCal .react-datepicker__day--keyboard-selected:hover {
  /* background-color: #008ae6; */
}
