form.add-entry {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.add-entry label {
  font-weight: 600;
  color: #000;
  font-size: 12px;
  margin-bottom: 5px;
}

.add-entry > .emoji-mart-emoji {
  cursor: pointer;
  margin-bottom: 20px;
  padding: 4px;
  border-radius: 3px;
}

.add-entry > .emoji-mart-emoji:hover {
  background: #EBEFF0;
}


.add-entry .input-name, .react-datepicker__input-container input {
  outline: none;
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  margin-bottom: 20px;
  min-width: 280px;
}

.add-entry .input-name {
  font-weight: bold;
  font-size: 28px;
  color: #000000;
  letter-spacing: -0.4px;
}

.react-datepicker__input-container input {
  font-weight: 500;
  font-size: 14px;
  color: #8B8E8F;
  letter-spacing: -0.2px;
}

.add-entry .input-name::placeholder {
  font-weight: bold;
  font-size: 28px;
  color: #C6CACC;
  letter-spacing: -0.4px;
}

.add-entry input:focus {
  border-color: #0099ff;
}

.add-entry button.btn-submit{
  font-size: 14px;
  letter-spacing: -0.2px;
  outline: none;
  border-radius: 5px;
  background: #0099ff;
  color: #fff;
  padding: 15px 35px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: background 200ms ease, transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 20px 0 0 0;
}

.add-entry button.btn-submit:hover{
  transform: scale(1.05);
}

.add-entry button.btn-submit:disabled:hover{
  transform: scale(1);
}

.add-entry button.btn-submit:active{
  transform: scale(0.9);
}

.add-entry button.btn-submit:disabled{
  cursor: not-allowed;
  background: #C8CBCC;
}

.untilCal {
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.20);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.untilCal .react-datepicker__triangle {
  border-bottom: none;
  border-top: none;
  display: none;
}

.untilCal .react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: none;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative;
}

.untilCal .react-datepicker__day--selected, .untilCal .react-datepicker__day--in-selecting-range, .untilCal .react-datepicker__day--in-range {
  border-radius: 5px;
  background-color: #0099ff;
  color: #fff;
}

.untilCal .react-datepicker__day--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #0099ff;
  color: #fff;
}

.untilCal .react-datepicker__day--keyboard-selected:hover {
  background-color: #008AE6;
}