.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 11;
  pointer-events: none;
  opacity: 0;
}

.overlay.is-showing {
  opacity: 1;
  pointer-events: auto;
}

.modal-wrapper {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  position: relative;
}

.modal-close {
  margin-top: 20px;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  color: #4d4d4d;
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
}

.modal-close:hover {
  color: #000000;
}

.modal-close:active {
  color: #000000;
}
