.event-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* min-height: 140px; */
  background: #ffffff;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 9px;
}

.event-name {
  font-weight: bold;
  font-size: 23px;
  color: #000000;
  letter-spacing: -0.2px;
  margin: 10px 0;
}

.event-date {
  font-weight: normal;
  font-size: 12px;
  color: #a1a5a6;
  letter-spacing: -0.2px;
}

.days-until {
  font-weight: 600;
  color: #0099ff;
  letter-spacing: -0.2px;
  margin: 0 0 5px 0;
}

.event-item div {
  width: 100%;
}

.card-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.edit-button {
  color: #c6cacc;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  margin-right: 10px;
}

.edit-button:hover {
  color: #0099ff;
}
