.add-card {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  color: #4d4d4d;
  font-family: 'Roboto Mono', 'SFMono-Regular', Consolas, 'Liberation Mono',
    Menlo, Courier, monospace;
}

.add-card:hover {
  color: #000000;
}

.add-card:active {
  color: #000000;
}
